body{
  background-color: powderblue;
  font-size: 20px;
  margin: auto;
}

nav{
  font-size: 22px;
  text-decoration: none;
}

nav>ul{
  list-style: none;
  margin: 0;
}

nav a{
  text-decoration: none;
}

.sidebar{
  font-size: 16px;
  margin: auto 20px;
}

.wrapper{
  display: grid;
  grid-template-columns: 20px repeat(10, 1fr) 20px;
  grid-template-rows: 40px 1fr;
  column-gap: 10px;
}

.header{
  background-color: teal;
  grid-column: 1 / -1;
  grid-row: 1;
}

.main-container{
  background-color: white;
  grid-column: 3 / span 6;
  
  padding: 0px 10px;
}

.sidebar-container{
  background-color: ivory;
  grid-column: 9 / span 3;
}

#profile-window{
  align-self: start;
}